<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <a href="{{ path('_orders') }}"><i class="fa fa-list-alt point-icon"></i>
            <h2>{{ 'My orders'|trans }}</h2>
            <p>{{ '...' }}</p></a>
        </div>
        <div class="col-md-4">
            <i class="fa fa-cart-plus point-icon"></i>
            <h2>{{ 'My payments'|trans }}</h2>
            <p>{{ '...' }}</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-envelope point-icon"></i>
            <h2>{{ 'My feedback'|trans }}</h2>
            <p>{{ '...' }}</p>
        </div>
        <div class="clearfix visible-lg"></div>
    </div>
</div>