{% extends 'BigPandaDevMainBundle:Default:layout_panel-12.html.twig' %}
{% set route_name = '_job_type' %}
{% set bc_name = 'job_types' %}

{% block panel_title 'Job types'|trans %}

{% block content %}
    {% embed 'BigPandaDevMainBundle:Crud:table.html.twig' %}
        {% block table_title 'Job types'|trans %}
        
        {% block header %}
            <th class="text-center">{{ 'No.'|trans }}</th>
            <th class="text-center">{{ 'Name'|trans }}</th>
            <th class="text-center">{{ 'Title'|trans }}</th>
            <th class="text-center">{{ 'Description'|trans }}</th>
            <th>&nbsp;</th>
        {% endblock %}

        {% block record %}
            <td class="text-right" style="vertical-align: middle;">{{ loop.index }}</td>
            <td class="text-left col-xs-2" style="vertical-align: middle;">
                {{ record.name|e }}
                {% if record.deleted == 1 %}
                    <span data-toggle="tooltip"
                          data-original-title="{{ 'deleted'|trans }}"><i class="fa fa-dot-circle-o delete-info"></i></span>
                {% endif %}
            </td>
            <td class="text-right col-xs-1" style="vertical-align: middle;">{{ record.title }}</td>
            <td class="text-left" style="vertical-align: middle;">{{ record.description|e }}</td>
{#            <td class="text-right col-xs-1" style="vertical-align: middle;">{{ record.datecreated|date('d.m.Y.') }}</td>
            <td class="text-right col-xs-1" style="vertical-align: middle;">{{ record.createdby }}</td>#}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block dialogs %}
    {% embed 'BigPandaDevMainBundle:Dialogs:modal_delete_confirm.html.twig' %}
        {% block body %}
            <p>{{ 'Are you sure you want to delete job type'|trans }} 
                "<span class="record-name" style="font-weight: bold;"></span>" 
                (<span class="record-id"></span>)?</p>
        {% endblock %}
    {% endembed %}

    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% embed 'BigPandaDevMainBundle:Dialogs:modal_delete_confirm.html.twig' %}
            {% block modal_id 'modal-undelete-confirm' %}
            {% block title 'Confirm undelete' %}
            {% block button_ok_label 'Undelete'|trans %}
            {% block body %}
                <p>{{ 'Are you sure you want to undelete job type'|trans }} 
                    "<span class="record-name" style="font-weight: bold;"></span>" 
                    (<span class="record-id"></span>)?</p>
            {% endblock %}
        {% endembed %}
    {% endif%}
{% endblock %}