{% extends 'BigPandaDevMainBundle:Default:layout_panel-12.html.twig' %}
{% set back_link = path('_orders') %}

{% block panel_title 'Order details'|trans %}

{% block content %}
    <div>
        <p><a href="{{ path('_homepage') }}">{{ 'Home'|trans }}</a> / <a href="{{ back_link }}">{{ 'Orders'|trans }}</a> / <a href="#">{{ 'Order details'|trans }}</a></p>
    </div>
    
    {% if form is defined %}
        {% include 'BigPandaDevMainBundle:Orders:order_form.html.twig' %}
    {% else %}
        {% embed "BigPandaDevMainBundle:Crud:read.html.twig" %}
            {% block read_title %}{{ 'Order details'|trans }}{% endblock %}
            {% block record %}
                {% if order is defined and order is not null %}
                    <h2>#{{ order.id }}: {{ order.name|e }}</h2>
                    <p>{{ 'Date created'|trans }}: {{ order.datecreated|date('d.m.Y.') }}</p>
                    <p>{{ 'Deadline'|trans }}: {{ order.deadline|date('d.m.Y.') }}</p>
                {% else %}
                    <p>No order with that id found!</p>
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}