{% extends 'BigPandaDevMainBundle:Default:base_bs.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mainstyle.css') }}">
{% endblock %}

{% block javascripts %}
    <script>global={locale:'{{ app.request.locale }}'};</script>
    <script src="{{ asset('js/base.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
        bigPandaDP.initLocale();
        bigPandaDP.initDatePicker();
    });
    </script>
{% endblock %}

{% block layout %}
    {% include 'BigPandaDevMainBundle:Navs:main.html.twig' %}

    {% if app.user and is_granted('ROLE_ADMIN') %}
        {% include 'BigPandaDevMainBundle:Home:admin.html.twig' %}
    {% elseif app.user and is_granted('ROLE_EMPLOYEE') %}
        {% include 'BigPandaDevMainBundle:Home:employee.html.twig' %}
    {% elseif app.user and is_granted('ROLE_CUSTOMER') %}
        {% include 'BigPandaDevMainBundle:Home:customer.html.twig' %}
    {% else %}
        {% include 'BigPandaDevMainBundle:Home:public.html.twig' %}
    {% endif%}

    <footer id="contact" class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <hr class="small">
                <p class="text-muted">Copyright &copy; BigPanda 2015. Webdesign by <a href="#">Matija Belec</a></p>
            </div>
        </div>
    </footer>
{% endblock %}
