{% extends 'BigPandaDevMainBundle:Default:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mainstyle.css') }}">
{% endblock %}

{% block javascripts %}
    <script>global={locale:'{{ app.request.locale }}'};</script>
    <script src="{{ asset('js/base.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
        bigPandaDP.initLocale();
        bigPandaDP.initDatePicker();
    });
    </script>
{% endblock %}

{% block layout %}
    {% include 'BigPandaDevMainBundle:Navs:main.html.twig' %}

    {% include 'BigPandaDevMainBundle:Home:public.html.twig' %}

    <footer class="container">
        <hr class="small" />
        <p>&copy; <a href="https://www.facebook.com/bigpandadev" target="bp_footer">BigPanda</a> {{ 'team'|trans }}. 
            {{ 'Webdesign by'|trans }} <a href="https://www.facebook.com/matijabelec" target="bp_footer">Matija Belec</a>.</p>
    </footer>
{% endblock %}
