{% extends 'BigPandaDevMainBundle:Default:base.html.twig' %}
{% import 'BigPandaDevMainBundle:Crud:extras.html.twig' as extras %}
{% import 'BigPandaDevMainBundle:Navs:breadcrumb.html.twig' as bc %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mainstyle.css') }}">
{% endblock %}

{% block javascripts %}
    <script>global={locale:'{{ app.request.locale }}'};</script>
    <script src="{{ asset('js/base.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script>
    $(document).ready(function(){
        $('[data-hover="tooltip"]').tooltip({
            placement : 'top'
        });
        bigPandaDP.initLocale();
        bigPandaDP.initDatePicker();
    });
    
    $('#modal-delete-confirm').on('show.bs.modal', function(e) {
        $(e.currentTarget).find('.btn-ok').attr('href',$(e.relatedTarget).data('href'));
        $(e.currentTarget).find('.record-id').text($(e.relatedTarget).data('record-id'));
        $(e.currentTarget).find('.record-name').text($(e.relatedTarget).data('record-name'));
    }).draggable();

{% if app.user and is_granted('ROLE_ADMIN') %}
    $('#modal-undelete-confirm').on('show.bs.modal', function(e) {
        $(e.currentTarget).find('.btn-ok').attr('href',$(e.relatedTarget).data('href'));
        $(e.currentTarget).find('.record-id').text($(e.relatedTarget).data('record-id'));
        $(e.currentTarget).find('.record-name').text($(e.relatedTarget).data('record-name'));
    }).draggable();
{% endif %}
    </script>
    <script>
        //table pages
        function table_pages(tb, d) {
            $('.page-numbers').on('click', '.btn', function(e){
                e.preventDefault();
                btn=$(this);
                tb=btn.closest('[data-load="ajax-table"]').find('.table-rows').first();
                $.get(btn.attr('href') )
                    .done(function(d){
                        btn.closest('.page-numbers').find('.btn.active').removeClass('active');
                        btn.addClass('active');
                        tb.html($(d).find('.table-rows').first().html() );
                    })
                    .fail(function(){tb.html("{{ 'Error'|trans }}");});
            });
        }
        
        //load table
        $('[data-load="ajax-table"]').each(function(){
            tb=$(this);
            $.get(tb.data('route'))
                .done(function(d){
                    tb.html(d);
                    table_pages(tb, d);
                })
                .fail(function(){tb.html("{{ 'Error'|trans }}");});
        });
        
        
    </script>
{% endblock %}

{% block layout %}
    {% include 'BigPandaDevMainBundle:Navs:main.html.twig' %}
    
    <div class="container-fluid">
        {% if bc_name is defined %} &gt; {{ bc.breadcrumb(bc_name) }}{% endif %}
        {% block table %}{% endblock %}
    </div>
    
    {% include 'BigPandaDevMainBundle:Default:footer.html.twig' %}
    
    <div class="container">
        {% include 'BigPandaDevMainBundle:Dialogs:modal_delete_confirm.html.twig' %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
            {% include 'BigPandaDevMainBundle:Dialogs:modal_undelete_confirm.html.twig' %}
        {% endif%}
        {% block dialogs %}{% endblock %}
    </div>
{% endblock %}
