{% extends 'BigPandaDevMainBundle:Default:base_bs.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mainstyle.css') }}">
{% endblock %}

{% block javascripts %}
    <script>global={locale:'{{ app.request.locale }}'};</script>
    <script src="{{ asset('js/base.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
        bigPandaDP.initLocale();
        bigPandaDP.initDatePicker();
    });
    </script>
{% endblock %}

{% block layout %}
    {% include 'BigPandaDevMainBundle:Navs:main.html.twig' %}
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block head %}
                    <span>{% block panel_title %}{% endblock %}</span>
                    <a role="button"
                       class="pull-right visible-xs-inline-block" 
                       data-toggle="collapse" 
                       data-target="#nav2"><i class="fa fa-bars"></i></a>
                {% endblock %}
            </div>
            <div class="panel-body">
                <div class="row">
                    {#<div class="col-sm-3">
                        <div class="navbar-collapse collapse" id="nav2">
                            <ul class="nav nav-stacked">
                                <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
                                <li class="active"><a href="{{ path('_orders') }}"><i class="fa fa-home fa-fw"></i> My orders</a></li>
                                <li><a href="#"><i class="fa fa-home fa-fw"></i> In progress</a></li>
                                <li><a href="#"><i class="fa fa-home fa-fw"></i> Finished</a></li>
                            </ul>
                            <hr class="visible-xs-block"/>
                        </div>
                    </div>#}
                    <div class="col-sm-12">
                        {% block content %}{% endblock %}
                    </div>
                    <div class="clearfix visible-lg"></div>
                </div>
            </div>
        </div>
    </div>
    
    {% block dialogs %}{% endblock %}
{% endblock %}