<div class="panel-body {{ form_class|default('') }}">
    {% block form_data %}
        {{ form_start(form) }}
        
        {{ form_widget(form) }}
        
        {#<div class="form-group">
             {{ form_label(form.categoryName, 'CategoryName', {'label_attr': {'class': 'control-label col-xs-2'}}) }}
             <div class="col-xs-6">
                 {{ form_widget(form.categoryName, {'attr': {'class': 'form-control'}})  }}
             </div>
          </div>

          <div class="form-group">
             <div class="col-xs-offset-2 col-xs-10">
                 <button type="submit" class="btn btn-primary">Edit</button>
             </div>
          </div>#}
            
            {% if back_link is defined %}
                <a href="{{ path(back_link) }}" class="btn btn-danger">{{ 'Back'|attr }}</a>
            {% endif %}
            <input type="submit" value="{{ 'Save'|attr }}" class="btn btn-success" />
            
        {{ form_end(form) }}
    {% endblock %}
</div>
{#
    {{ form_start(form, {'attr': {'class': (attr.class|default('') ~ ' form-horizontal')|trim}}) }}
    <legend>{{ form_name|default('Form name')|trans }}</legend>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}#}